.aside .logo a::before{
	border-top: 4px solid #ec1839;
	border-left: 4px solid #ec1839;
}
.aside .logo a::after{
	border-bottom: 4px solid #ec1839;
	border-right: 4px solid #ec1839;
	
}
.home .intro p span,
.contact .contact-info-item .icon i,
.project .project-item .project-item-inner .icon i,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active{
	color: #ec1839;
}
.btnn,
.award .timeline .circle-dot,
.award .timeline .timeline-item::before,
.project .project-item .project-item-inner:hover .icon,
.skill .skill-item .progress .progress-in,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-link a
{
	background-color: #ec1839;
}
