
/*-------------------------------- Genric Style------------------------------------- */
@font-face
{
  font-family: "Avenir Next W10 Regular";
  src: url("font/34b75a9eafbdc85526bcdf9cbc9ad211.eot"); 
  src: url("font/34b75a9eafbdc85526bcdf9cbc9ad211.eot?#iefix") format("embedded-opentype"), 
  url("font/34b75a9eafbdc85526bcdf9cbc9ad211.woff2") format("woff2"),
  url("font/34b75a9eafbdc85526bcdf9cbc9ad211.woff") format("woff"), 
  url("font/34b75a9eafbdc85526bcdf9cbc9ad211.ttf") format("truetype"), 
  url("font/34b75a9eafbdc85526bcdf9cbc9ad211.svg#Avenir Next W10 Regular") format("svg"); 

}

html{
	scroll-behavior: smooth;
}

body{
	font-family: "Avenir Next W10 Regular";
	margin: 0;
	line-height: 1.5;
	font-size: 16px;
}
*{
	font-family: "Avenir Next W10 Regular";
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}
::before::after{
	box-sizing: border-box;
}
.section{
	background-color: #151515;
	min-height: 100vh;
	display: block;
	padding: 0 30px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

}

.section .container{
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-title{
	-ms-flex: 0 0 100%; 
	flex: 0 0 100%; 
	max-width: 100%;
	margin-bottom: 60px;
}
.section-title h2{
	font-family: "Avenir Next W10 Regular";
	font-size: 30px;
	color: #ffffff;
	font-weight: 700;
	margin: 0;
	position: relative;
}
.section-title h2::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	height: 4px;
	width: 50px

}
.section-title h2::after{
	content: '';
	position: absolute;
	margin-top:8px;
	top: 100%;
	left: 0;
	height: 4px;
	width: 25px
}

.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	position: relative;
}
.padd-15{
	padding-left: 15px;
	padding-right: 15px;
}
.main-content{
	padding-left: 270px;
}
.container{
	max-width: 1100px;
	margin: auto;
	width: 100%;
}
.shadow-dark{
	-webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
	box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

}

.aside{
	width: 270px;
	background-color: #222222;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 11 ;
	overflow-y: auto;
	border-right:1px solid #393939;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.aside .aside-inner{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	overflow-y: auto;
}
.aside .logo{
	padding: 30px 0;
}
.aside .logo a{
	font-family: "Avenir Next W10 Regular";
	font-size: 30px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	position: relative;
	padding: 0 10px;
	line-height: 50px;
}
.aside .logo a::before{
	content: '';
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.aside .logo a::after{
	content: '';
	height: 20px;
	width: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
} 
.aside .nav-toggler{
	height: 40px;
	width: 45px;
	border: 1px solid #d4d4e3;
	cursor: pointer;
	position: fixed;
	left: 300px;
	top: 20px;
	z-index: 11;
	border-radius: 5px;
	background-color: #f2f2fc;
	display: none;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack : center;
	justify-content: center;
}
.aside .nav-toggler span{
	height: 2px;
	width: 18px;
	display: inline-block;
	position: relative;
}
.aside .nav-toggler.open span{
	background-color: transparent;
}
.aside .nav-toggler span::before{
	content: '';
	height: 2px;
	width: 18px;
	position: absolute;
	top: -6px;
	left: 0;
}
.aside .nav-toggler.open span::before{
	-webkit-transform: rotate(45deg);
	top: 0px;
	transform: rotate(45deg);
}
.aside .nav-toggler span::after{
	content: '';
	height: 2px;
	width: 18px;
	position: absolute;
	top: 6px;
	left: 0;
}
.aside .nav-toggler.open span::after{
	-webkit-transform: rotate(-45deg);
	top: 0px;
	transform: rotate(-45deg);
}
.aside .nav{
	list-style: none;
	margin: 80px 0;
	padding: 0;
}
.aside .nav li{
	display: block;
}
.aside .nav li a{
	font-family: "Avenir Next W10 Regular";
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
	line-height: 45px;
	display: block;
	border-bottom: 1px solid #393939;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.aside .nav li a:not(.active):hover{
	padding-left: 5px;
}
.aside .nav li a i{
	margin-right: 5px;
}
.aside .copyright-text{
	font-size: 13px;
	color: #7d7d7d;
}


/*----------------------------------------- Home-------------------------------------- */
.home{
	min-height: 100vh;
	display: -ms-flexbox;
	display: flex;
}
.home .intro{
	text-align: center;
}
.home .intro img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: inline-block;
	border: 8px solid #ffffff;
}
.home .intro h1{
	font-family: "Avenir Next W10 Regular";
	font-size: 30px;
	color: #ffffff;
	font-weight: 700;
	margin: 20px 0 8px; 
}
.home .intro p{
	font-family: "Avenir Next W10 Regular";
	font-size: 20px;
	font-weight: 600;
	margin: 0;
	line-height: 22px;
	color: #e9e9e9;
}
.home .intro .social-link{
	margin-top: 25px;
}
.home .intro .social-link a{
	height: 45px;
	width: 45px;
	display: inline-block;
	color: #ffffff;
	margin: 0 4px;
	border-radius: 50%;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.home .intro .social-link a i{
	padding-top: 13px;
	font-size: 20px;
}
.home .intro .social-link a:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}



/*-------------------------------------------- About----------------------------------  */
.about{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../img/cp.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.about .about-content{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	width: 100%;
}
.about .about-content .about-text{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.about .about-content .about-text h3{
	font-family: "Avenir Next W10 Regular";
	font-size: 24px;
	margin-bottom: 15px;
	font-weight: 700;
	color: #ffffff;
} 
.about .about-content .about-text p{
	font-family: "Avenir Next W10 Regular";
	font-size: 1.30rem;
	line-height: 30px;
	color: #e9e9e9;
	margin: 0;
}


/*------------------------------------ personal Info----------------------------------- */
.about .about-content .personal-info{
	font-family: "Avenir Next W10 Regular";
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	margin-top: 40px;
}
.about .about-content .personal-info .info-item{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.about .about-content .personal-info .info-item p{
	font-family: "Avenir Next W10 Regular";
	font-weight: 600;
	padding: 10px 0;
	font-size: 16px;
	color:  #ffffff;
	margin: 0;
	/* border-bottom: 1px solid #393939; */
}
.about .about-content .personal-info .info-item p span{
	font-family: "Avenir Next W10 Regular";
	font-weight: 400;
	color: #e9e9e9;
	margin-left: 10px;
	display: inline-block;
}

/*----------------------------------------- Button------------------------------------ */
.about .about-content .personal-info .button1{
	margin-top: 30px;
}
.about .about-content .personal-info .button1 .btnn{
	margin-right: 15px;
	margin-top: 10px;
}
.btnn{
	font-family: "Avenir Next W10 Regular";
	font-size: 16px;
	font-weight: 500;
	padding: 12px 35px;
	color: #ffffff;
	border-radius: 40px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: inline-block;
	white-space: nowrap;
	border: none;
	cursor: pointer;
}
.btnn:hover{
	-webkit-transform:scale(1.05);
	transform:scale(1.05);
	text-decoration: none;
	color:#ffffff; 
}


/*------------------------------------------ Skill Section-------------------------------- */

.skill .skill-item{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 10px
}
.skill .skill-item h5{
	line-height: 40px;
	font-weight: 600;
	font-size: 15px;
	color: #ffffff;
	text-transform: capitalize;
	margin: 0;
}
.skill .skill-item .progress{
	background-color: #e9e9e9;
	height: 8px;
	border-radius: 4px;
	width:100%; 
	position: relative;
}
.skill .skill-item .progress .progress-in{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 4px;
}
.skill .skill-item .progress-percent{
	line-height: 40px;
	position: absolute;
	right: 0;
	color: #e9e9e9;
	top: -40px;
	font-weight: 400;
}


/*----------------------------------------------- Education------------------------------- */

.award .education1{
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 20px;
}
.award .education2{
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 20px;
}	
.award h3.title{
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 700;
	color: #ffffff;
}
.award .timeline-box{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.award .timeline{
	background-color: #222222;
	padding: 30px 15px;
	border: 1px solid #393939;
	border-radius: 10px;
	width: 100%;
	position: relative;
}
.award .timeline .timeline-item{
	position: relative;
	padding-left: 37px;
	padding-bottom: 50px;
}
.award .timeline .timeline-item:last-child{
	padding-bottom: 0px;
}
.award .timeline .timeline-item::before{
	content: '';
	width: 1px;
	position: absolute;
	height: 100%;
	left: 7px;
	top: 0;
}
.award .timeline .circle-dot{
	position: absolute;
	left: 0;
	top: 0px;
	height: 15px;
	width: 15px;
	left: 0px;
	border-radius: 50%;
}
.award .timeline .timeline-date{
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 12px;
	color: #e9e9e9;
}
.award .timeline .timeline-date i{
	margin-right: 5px;
}
.award .timeline .timeline-title{
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: capitalize;
	color: #ffffff;
}
.award .timeline .timeline-text{
	font-size: 16px;
	line-height: 25px;
	color: #e9e9e9;
	margin: 0;
}

/*------------------------------------------ Project Section------------------------- */

.project .project-item{
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%; 
	margin-bottom: 30px;
	display: -ms-flexbox;
	display: flex;
}
.project .project-item .project-item-inner{
	background-color: #222222;
	border: 1px solid #393939;
	border-radius: 10px;
	padding: 30px 15px;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.project .project-item .project-item-inner:hover{
	-webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
	box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.project .project-item .project-item-inner .icon{
	height: 60px;
	width: 60px;
	display: block;
	margin: 0 auto 30px;
	border-radius: 50%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align: center;
}
.project .project-item .project-item-inner .icon i{
	font-size: 40px;
	line-height: 60px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.project .project-item .project-item-inner:hover .icon i{
	font-size: 35px;
	color: #ffffff;
}
.project .project-item .project-item-inner h4{
	font-size: 18px;
	margin-bottom: 15px;
	color: #ffffff;
	font-weight: 700;
	text-transform: capitalize;
}
.project .project-item .project-item-inner p{
	font-family: "Avenir Next W10 Regular";
	font-size: 16px;
	color: #e9e9e9;
	line-height: 25px;
	margin: 0;
}

.project .project-item .project-item-inner div #lang{
	color: #ffffff;
}
.project .project-item .project-item-inner div #tech{
	color: #e9e9e9;
}


/*----------------------------------------- Contact---------------------------------- */
.contact .contact-info-item{
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	text-align: center;
	margin-bottom: 40px;
}
.contact .contact-info-item .icon{
	display: inline-block;
}
.contact .contact-info-item .icon i{
	font-size: 40px;
}
.contact .contact-info-item h4{
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	text-transform: capitalize;
	margin: 15px 0 5px;
}
.contact .contact-info-item p{
	font-family: "Avenir Next W10 Regular";
	font-size: 16px;
	line-height: 25px;
	color: #e9e9e9;
	margin: 0;
	font-weight: 400;
}
.contact .contact-form{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.contact .contact-form .col-6{
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.contact .contact-form .col-12{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.contact .contact-form .form-item{
	margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control:focus{
	-webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
	box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item .form-control{
	width: 100%;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #393939;
	padding: 10px 25px;
	font-size: 19px;
	color: #e9e9e9;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #222222;
}
.contact .contact-form .form-item textarea.form-control{
	height: 100px;
}
.contact .contact-form .btnn{
	height: 50px;
	padding: 0 50px;
}

/* ---------------------------------------------Responsive-------------------------------- */

@media (max-width: 1199px){
	.aside .nav-toggler{
		display: -ms-felxbox;
		display: flex;
		left: 30px;
	}
	.aside .nav-toggler.open{
		left: 300px;
	}
	
	.aside.open{
		left:0px;
	}
	.aside{
		left: -270px;
	}
	.main-content{
		padding-left: 0;
	}
}
 @media (max-width: 991px){
 	.project .project-item,
 	.project .project-item .project-item-inner{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 767px){
	.award .education1,
 	.award .education2,
	.contact .contact-form .col-6,	
	.project .project-item,
	.project .project-item .project-item-inner,	
	.about .about-content .personal-info{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
} 
@media (max-width: 575px){
	.contact .contact-info-item{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}